@{
    ViewData["Title"] = "Home Page";
}

<div>
    <section class="container1">
        <div class="card1">
            <h2>What is FaultPoint Alpha?</h2>
            <p>FAULTPOINT ALPHA is a seismic sensor device web application that detects and transfers seismic data to the web application detecting for any upcoming earthquakes. We created a device that predicts the earthquake's magnitude and intensity by using an Arduino accelerometer module that can detect the X, Y and Z axes for its movement on the ground and it will be relayed to the ESP32 module that can be transmitted directly to our devices like computers and mobile phones. Both the device and the system are at its prototype phase and may need further improvements.</p>
        </div>
    </section>
</div>
