@{
    ViewData["Title"] = "Home Page";
}

<div>
    <section class="container1">
        <div class="card1">
            <h2>What is FaultPoint Alpha?</h2>
            <p>blah blah blah</p>
        </div>
        <div class="card2">
            <h2>Latest Earthquake Alerts:</h2>
            <p>blah blah blah</p>
            <a asp-area="" asp-controller="Home" asp-action="Earthquake"><button class="button">Learn more about earthquakes!</button></a>
        </div>
    </section>
</div>
