@{
    ViewData["Title"] = "Home Page";
}

<div class="content1">
    <div class="textBox">
        <h2>FaultPoint<br><span>Alpha</span></h2>
        <p>Introducing FaultPoint, an innovative Arduino-based earthquake detection system designed to enhance safety and awareness. Utilizing advanced seismic sensors, this product accurately detects ground movements and promptly alerts users to potential earthquakes.</p>
        <a href="#">View Product</a>
    </div>
    <div class="imgBox">
        <img src="/lib/images/Online world-rafiki.png" class="product">
    </div>
</div>
<div class="cards">
    <div class="flip-card">
        <div class="flip-card-front">
            <div class="inner">
                <img src="/lib/images/Data extraction-pana.png" class="icon" />
                <h3>MONITORING</h3>
            </div>
        </div>
        <div class="flip-card-back">
            <div class="inner">
                <p>
                    In Faultpoint, our detection is our number one priority. By detecting seismic waves with the use of arduino's motion sensor and accelerometer we can detect upcoming seismic activities and provide early warning to the user.
                </p>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-front">
            <div class="inner">
                <img src="/lib/images/Paper map-cuate.png" class="icon" />
                <h3>EVACUATION PATH</h3>
            </div>
        </div>
        <div class="flip-card-back">
            <div class="inner">
                <p>
                    Safety is our number one solution, after the seismic activity the system will relay its information through its communication hub and send out information to the nearest evacuation center.
                </p>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-front">
            <div class="inner">
                <img src="/lib/images/High five-rafiki.png" class="icon" />
                <h3>USER FRIENDLY</h3>
            </div>
        </div>
        <div class="flip-card-back">
            <div class="inner">
                <p>
                    The accessibility of Faultpoint is very user friendly and easy to understand due to the use of Arduino's micro-computer you can modify and fix any problems.
                </p>
            </div>
        </div>
    </div>
</div>